/*  ===>> Navbar Styles START <<=== */

/* Navbar container */

.on-nav {
  display: flex;
 }

/* Fix position of top bar */
.on-nav--top,.on-nav--mobile
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/* Fix position of side navbar */
.on-nav--side {
  position: sticky;
  top: 0;
  width: 550px; 
  height: 100vh; 
  overflow-y: auto;
}

/* Styles for mobile navigation */
.on-nav--mobile {
  padding: 0px 5px;
}

/* Styles for navigation list */
.on-nav__list {
  list-style-type: none;
}

/* Styles for navigation links */
.on-nav__link {
  text-decoration: none;
  color: var(--clr-primary);
}

/* Styles for active navigation item */
.on-nav__item--active {
  color: var(--secondary-text-color);
}

/* Hover styles for navigation links */
.on-nav__link:hover {
  color: var(--accent-color);
}

/* Hide certain elements on smaller screens */
.on-nav--top,
.on-nav--side,
#sidebarHide {
  display: none;
}

/* Dropdown menu for mobile view */
.on-nav__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  /*padding: 10px;*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Margin for dropdown element */
.on-nav__dropdown li {
  margin: 5px 0;
}

/*  ===>> Navbar Styles END <<=== */

/*  ===>> Swatches Styles START <<=== */

/* Container for content layout */
.on-content-layout {
  padding-top: 50px;
  display: flex;
  text-align: start;
}

/* Container for color swatches */
.on-color-swatches {
  display: flex;
  flex-wrap: wrap;
}

/* Individual color swatch */
.on-color-swatches__swatch {
  width: auto;
  height: 250px;
  margin: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  overflow: hidden;
  border-radius: 10px;
}

/* Color part of the swatch */
.on-color-swatches__color-part {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Information part of the swatch */
.on-color-swatches__info-part {
  width: 100%;
  height: 70%;
  padding: 10px;
  box-sizing: border-box;
}

/* Hide hex code and class name  */
.on-color-swatches__info-part tr:nth-child(1),
  .on-color-swatches__info-part tr:nth-child(2) {
    display: none;
  }
/*  ===>> Swatches Styles END <<=== */

/*  ===>> Spacing Styles START <<=== */

.on-l-grid__item {
  border: 1px solid var(--secondary-bg-color);
  padding: 10px;
  width: 150px;
  text-align: center;
}

.on-l-grid__item1 {
  border: 1px solid var(--secondary-bg-color);
  padding: 10px;
  text-align: center;
}

.on-text-center
{
  text-align: center;
}


/* HERO START */
.on-hero {
  background-image: url(images/herobg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  height: 60vh;
}

.on-hero__content
{
  width: 50%;
  margin-left: 50px; /* change */
}
.on-hero__tagline
{
  font-size: var(--heading-size-xl);
}
.on-hero__cta-button, .on-gift-purchase__button
{
  width: 180px;
  height: 60px;
  background-color: var(--accent-color);
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* HERO END */

/* FRESH ARIVAL */

.on-product-card {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.on-product-card__image {
  height: 400px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}

.on-product-card__image img {
  width: 200px;
  height: auto;
  display: block;
}

/* product list */

.on-product-category {
  width: calc(33.33% - 20px);
}

.on-product-category__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.on-pagination__button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.on-pagination__button:hover {
  background-color: var(--clr-primary);
}

/* --- */

/*-- gift and certificate */ 
.on-gift-section {
  display: flex;
}

.on-gift-image {
  text-align: center;
  flex: 60%;
}

.on-gift-image img {
  width: 80%;
  height: auto;
}

.on-gift-details {
  flex: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.on-gift-details h2 {
  margin-bottom: 10px;
}

.on-gift-details p {
  margin-bottom: 20px;
}
.on-gift-purchase__button
{
  width: 180px;
  height: 60px;
  background-color: var(--secondary-text-color);
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* FAQ's */

.on-faqs__item{
  width: 80%;
  padding: 20px;  /* will use padding class */
  background-color: var(--secondary-text-color);
  color: var(--primary-bg-color);
  cursor: pointer;
  border: none;
  /*
  font-size: 18px;
  font-weight: 600; */
}
.on-faqs__item:after{
    content: '\002B';
    float: right;
    margin-left: 5px; /* will remove */
}
.active:after{
    content: '\2212';
}
.on-faqs__content{
    padding: 0 18px;
    width: 80%; /* will remove */
    overflow: hidden;
    border-width: 0 0 2px 0;
    border-color: var(--primary-bg-color);
    border-style: solid;
    max-height: 0;
    transition:  max-height 0.2s ease-out;
}

/* -- Testmonials */

.on-testimonial {
  height: 50vh;
  background: var(--primary-bg-color);
  border-top: 4px solid var(--secondary-text-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.on-testimonial__image {
  height: 2rem;
  width: auto;
}

.on-testimonial__text {
  overflow: auto;
  font-style: oblique;
}


.on-testimonials__prev,
.on-testimonials__next {
  display: inline-block;
  background: var(--primary-bg-color);
  box-shadow: 0 2px 4px 1px rgba(50, 50, 93, 0.1);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--secondary-text-color);
  transition: 0.3s ease;
}

.on-testimonials__prev:hover,
.on-testimonials__next:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

 

/* --Contact Us-- */

/* ==> Iframe Style <== */
.on-contact-us__map {
  overflow: hidden;
  border: none;
}

/* ==> Form Style <== */
.on-contact-us__input,
.on-contact-us__select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.on-contact-us__submit {
  width: 100%;
  background-color: var(--accent-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.on-contact-us__textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/* about us*/
.about-us {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.about-us__image {
  display: none;
}

.about-us__content {
  flex: 1;
  padding: 0 20px;
}

.about-us__title {
  margin-bottom: 10px;
}

.about-us__paragraph {
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-us__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
  text-decoration: none;
  border-radius: 4px;
}


/* footer */
/* ==>  Footer Style <== */

footer {
  border-color: black;
  background-color: var(--secondary-bg-color);
  padding: 0 20px;
  padding-top: 50px;
}
.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-address > div {  /* using this code to target the all div childs that come under footer address I have the pseudo code, because I did not want to use extra classes or id's to control the tags */
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.footer-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-menu div:nth-child(1), /* using this code to get the 1st and 2nd child of div */
.footer-menu div:nth-child(2) {
  display: none;
}

.inputfield-signup {
  font-size: 1.6rem;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
  border: 1px solid var(--secondary-text-color);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.signup-button {
  display: flex;
  border: 1px solid var(--accent-color);
  background: var(--secondary-text-color);
  font-size: 1.8rem;
  color: white;
  margin: 20px 0;
  padding: 10px 50px;
  width: 50%;
  cursor: pointer;
  justify-content: center;
}
.signup-button:hover
{
  color: #c98c50;
  background-color: white;
  
}
.footer-disclaimer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-media-icons
{
  display: flex;
  gap: 10px;
}
.footer-media-icons i
{
  background-color: var(--accent-color);
  padding: 10px 15px;
}
.footer-disclaimer a
{
  color: var(--secondary-text-color);
  text-decoration: underline;
}
.footer-disclaimer p 
{
  font-size: 1rem;
}
footer a {
  text-decoration: none;
  color: var(--clr-primary);
}

/* -- coming soon -- */

.coming-soon {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: center;
}

.coming-soon__title {
  font-size: 36px;
  color: var(--clr-primary)
}

/*  ===>> Spacing Styles END <<=== */


/*  ===>> Media query for DESKTOP <<=== */
@media (min-width: 768px) {

  /*  ===>> Navbar Styles START <<=== */
 
  /* Hide certain elements on larger screens */
  .on-nav--mobile, #about-me-list {
    display: none;
  }

  /* Display certain elements on larger screens */
  .on-nav--top, .on-nav--side, .on-nav--top .on-nav__list {
    display: flex;
  }

  /* Fix position of side bar */
  .on-nav--side {
    width: 270px; 
  }
  /*  ===>> Navbar Styles END <<=== */

/*  ===>> Color Styles START <<=== */

    /* Show hex code and class name  */
  .on-color-swatches__info-part tr:nth-child(1),
  .on-color-swatches__info-part tr:nth-child(2) {
    display: table-row;
  }
  .on-color-swatches__swatch {
    width: 350px;
  }
  .on-l-grid__item {
    width: 400px;
  }

  .on-hero {
    height: 100vh;
  }
  .on-hero__content
  {
    margin-left: 100px; /* change */
  }
  .on-hero__tagline
  {
    font-size: var(--heading-size-2xl);
  }

/* Fresh arrivals */
  .on-product-container {
    flex-direction: row;
    gap: 20px;
  }
  
  .on-product-card {
    height: 500px;
    width: calc(25% - 20px); /* Adjust as needed */
  }

  
  /* ==>  Form Style desktop <== */
  .on-contact-us {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .on-contact-us__map {
    flex: 1;
  }
  .on-contact-us__form {
    flex: 1;
  }

  .about-us__image {
    display: flex;
    flex: 1;
  }
  /* ==>  Footer Style desktop <== */
  .footer-container {
    padding: 0;
  }
  .footer-address-container {
    margin-right: 20px;
    padding-right: 20px;
  }
  .footer-menu div:nth-child(1),
  .footer-menu div:nth-child(2) {
    display: flex;
  }
  .footer-menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .footer-menu-list {
    display: flex;
    flex-direction: column;
  }
  .footer-menu-list li {
    line-height: 30px;
  }
  .footer-disclaimer {
    padding: 0;
    text-align: left;
  }
  
}