/*  ===>> Navbar Styles START <<=== */

/* Navbar container */

.on-nav {
  display: flex;
  justify-content: space-between;
}

/* Fix position of top bar */
.on-nav--top,.on-nav--mobile
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/* Fix position of side navbar */
.on-nav--side {
  position: sticky;
  top: 0;
  width: 550px; 
  height: 100vh; 
  overflow-y: auto;
}

/* Styles for mobile navigation */
.on-nav--mobile {
  padding: 0px 5px;
}

/* Styles for navigation list */
.on-nav__list {
  list-style-type: none;
  margin: 10px 0;
}

/* Styles for navigation links */
.on-nav__link {
  text-decoration: none;
  color: var(--clr-primary);
}

/* Styles for active navigation item */
.on-nav__item--active {
  color: var(--secondary-text-color);
}

/* Hover styles for navigation links */
.on-nav__link:hover {
  color: var(--accent-color);
}

/* Hide certain elements on smaller screens */
.on-nav--top,
.on-nav--side,
#sidebarHide {
  display: none;
}

/*  ===>> Navbar Styles END <<=== */

/*  ===>> Swatches Styles START <<=== */

/* Container for content layout */
.on-content-layout {
  padding-top: 50px;
  display: flex;
  text-align: start;
}

/* Container for color swatches */
.on-color-swatches {
  display: flex;
  flex-wrap: wrap;
}

/* Individual color swatch */
.on-color-swatches__swatch {
  width: auto;
  height: 250px;
  margin: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  overflow: hidden;
  border-radius: 10px;
}

/* Color part of the swatch */
.on-color-swatches__color-part {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Information part of the swatch */
.on-color-swatches__info-part {
  width: 100%;
  height: 70%;
  padding: 10px;
  box-sizing: border-box;
}

/* Hide hex code and class name  */
.on-color-swatches__info-part tr:nth-child(1),
  .on-color-swatches__info-part tr:nth-child(2) {
    display: none;
  }
/*  ===>> Swatches Styles END <<=== */

/*  ===>> Spacing Styles START <<=== */

.l-grid__item {
  border: 1px solid var(--secondary-bg-color);
  text-align: center;
}

.l-grid__example-box {

  width: 200px;
  height: 150px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--accent-color);
  display: inline-block;
}

/*  ===>> Spacing Styles END <<=== */



/*  ===>> Media query for DESKTOP <<=== */
@media (min-width: 768px) {

  /*  ===>> Navbar Styles START <<=== */
 
  /* Hide certain elements on larger screens */
  .on-nav--mobile, #about-me-list {
    display: none;
  }

  /* Display certain elements on larger screens */
  .on-nav--top, .on-nav--side, .on-nav--top .on-nav__list {
    display: flex;
  }

  /* Fix position of side bar */
  .on-nav--side {
    width: 250px; 
  }
  /*  ===>> Navbar Styles END <<=== */

/*  ===>> Color Styles START <<=== */

    /* Show hex code and class name  */
  .on-color-swatches__info-part tr:nth-child(1),
  .on-color-swatches__info-part tr:nth-child(2) {
    display: table-row;
  }
  .on-color-swatches__swatch {
    width: 350px;
  }
}