/* Mobile Navbar Styles */
.mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
nav a {
  text-decoration: none;
  color: var(--clr-primary);
}
nav ul {
  list-style-type: none;
  margin: 10px 0;
}
nav a:hover {
  color: var(--accent-color); /* Change color on hover */
}

.top-navbar,
.side-navbar,
#navbar-close {
  display: none; /* Initially hide on smaller screens */
}

.container
{
  display: flex;
}

.swatch-box {
  display: flex;
  flex-wrap: wrap;
}

.swatch {
  width: 200px;
  height: 250px;
  margin: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}

.swatch__color-part {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swatch__info-part {
  width: 100%;
  height: 70%;
  padding: 10px;
  box-sizing: border-box;
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
  .mobile-navbar {
    display: none; /* Hide on larger screens */
  }

  .top-navbar,
  .top-navbar ul,
  .side-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
