/* Colours variables */
:root {
  /* Primary Colors */
  --primary-text-color: #100f0f;
  --primary-bg-color: #f6f7f2;
  --accent-color: #4F691C;

  /* Secondary Colors */
  --secondary-bg-color: #dce6c1;
  --secondary-text-color: #944D1E; 

  /* Font-families */
  --heading-font: 'Montserrat', serif;
  --body-font: 'Merriweather', serif;

  /* Font size */
  --heading-size-xl: 36px;
  --heading-size-large: 24px;
  --heading-size-medium: 20px;
  --heading-size-small: 18px;
  --heading-size-xs: 16px;

  --font-size-regular: 16px;
  --font-size-large: 18px;
  --font-size-medium: 14px;
  --font-size-small: 12px;

  /* Font weight */
  --heading-weight-light: 300;
  --heading-weight-normal: 400; 
  --heading-weight-medium: 600;
  --heading-weight-bold: 700;

  --font-weight-thin: 100px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

 /* Letter spacing */
  --letter-spacing-1: 1px;
  --letter-spacing-2: 2px; 
  --letter-spacing-3: 3px; 

  /* Line height */
  --heading-line-height-1: 28px;
  --heading-line-height-2: 30.5px; 
  --heading-line-height-3: 33px; 

  --body-line-height-1: 24px;
  --body-line-height-2: 25.5px; 
  --body-line-height-3: 27px; 
}

/* Text Color Utility Classes */
/* Primary Text Color */
.on-text-primary {
  color: var(--primary-text-color);
}

/* Primary Background Color */
.on-bg-primary {
  background-color: var(--primary-bg-color);
}

/* Accent Color */
.on-text-accent {
  color: var(--accent-color);
}

/* Active Text Color */
.on-text-active {
  color: var(--accent-color); 
}

/* Secondary Text Color */
.on-text-secondary {
  color: var(--secondary-text-color);
}

/* Secondary Background Color */
.on-bg-secondary {
  background-color: var(--secondary-bg-color);
}

/* Primary Text Color as Background */
.on-text-primary-bg {
  background-color: var(--primary-text-color);
}

/* Secondary Text Color as Background */
.on-text-secondary-bg {
  background-color: var(--secondary-text-color);
}

/* Accent Color as Background */
.on-text-accent-bg {
  background-color: var(--accent-color);
}


/* Typography */
/* Heading Font Family */
.on-f-f--heading {
  font-family: var(--heading-font);
}

/* Body Font Family */
.on-f-f--body {
  font-family: var(--body-font);
}

/* Utility Classes for Heading Sizes */
/* Extra Large Heading */
.on-hs-xl {
  font-size: var(--heading-size-xl);
}

/* Large Heading */
.on-hs-large {
  font-size: var(--heading-size-large);
}

/* Medium Heading */
.on-hs-medium {
  font-size: var(--heading-size-medium);
}

/* Small Heading */
.on-hs-small {
  font-size: var(--heading-size-small);
}

/* Extra Small Heading */
.on-hs-xs {
  font-size: var(--heading-size-xs);
}

/* Utility Classes for Body Text Sizes */
/* Regular Body Text Size */
.on-fs-regular {
  font-size: var(--font-size-regular);
}

/* Large Body Text Size */
.on-fs-large {
  font-size: var(--font-size-large);
}

/* Medium Body Text Size */
.on-fs-medium {
  font-size: var(--font-size-medium);
}

/* Small Body Text Size */
.on-fs-small {
  font-size: var(--font-size-small);
}


/* Utility Classes for Text Weight */
/* Heading Text Weight - Light */
.on-hw-light {
  font-weight: var(--heading-weight-light);
}

/* Heading Text Weight - Regular */
.on-hw-regular {
  font-weight: var(--heading-weight-regular);
}

/* Heading Text Weight - Medium */
.on-hw-medium {
  font-weight: var(--heading-weight-medium);
}

/* Heading Text Weight - Bold */
.on-hw-bold {
  font-weight: var(--heading-weight-bold);
}


/* Font Weight - Thin */
.on-fw-thin {
  font-weight: var(--font-weight-thin);
}

/* Font Weight - Light */
.on-fw-light {
  font-weight: var(--font-weight-light);
}

/* Font Weight - Regular */
.on-fw-regular {
  font-weight: var(--font-weight-regular);
}

/* Font Weight - Medium */
.on-fw-medium {
  font-weight: var(--font-weight-medium);
}

/* Font Weight - Bold */
.on-fw-bold {
  font-weight: var(--font-weight-bold);
}

/* Font Weight - Black */
.on-fw-black {
  font-weight: var(--font-weight-black);
}

/* Utility Classes for Letter Spacing */
/* Letter Spacing 1 */
.on-letter-spacing-1 {
  letter-spacing: var(--letter-spacing-1);
}

/* Letter Spacing 2 */
.on-letter-spacing-2 {
  letter-spacing: var(--letter-spacing-2);
}

/* Letter Spacing 3 */
.on-letter-spacing-3 {
  letter-spacing: var(--letter-spacing-3);
}


/* Utility Classes for Line Height */
/* Body Line Height 1 */
.on-line-height-body-1 {
  line-height: var(--body-line-height-1);
}

/* Body Line Height 2 */
.on-line-height-body-2 {
  line-height: var(--body-line-height-2);
}

/* Body Line Height 3 */
.on-line-height-body-3 {
  line-height: var(--body-line-height-3);
}

/* Heading Line Height 1 */
.on-line-height-heading-1 {
  line-height: var(--heading-line-height-1);
}

/* Heading Line Height 2 */
.on-line-height-heading-2 {
  line-height: var(--heading-line-height-2);
}

/* Heading Line Height 3 */
.on-line-height-heading-3 {
  line-height: var(--heading-line-height-3);
}

/* CSS Reset */
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* Margin Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Padding Reset */
ul,
ol {
  padding: 0;
}