/* Colours varibles */
:root {
  /* Primary Colors */
  --primary-text-color: #212529;
  --primary-bg-color:#f6f7f2;
  --accent-color:#5E7826;
  /* Secondary Colors */
  --secondary-bg-color:#ebeee3;
  --secondary-text-color: #121212; 
  }
  /* Text Color Utility Classes */
.text-primary {
  color: var(--primary-text-color);
}
.bg-primary {
  color: var(--primary-bg-color);
}
.text-accent {
  color: var(--accent-color);
}
.text-secondary {
  color: var(--secondary-text-color);
}
.bg-secondary {
  background-color: var(--secondary-bg-color);
}



/* CSS Reset */
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* Margin Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Padding Reset */
ul,
ol {
  padding: 0;
}
